{%load static %}
  
  <!-- ======= Sidebar ======= -->
  <aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">

      <li class="nav-item">
        <a class="nav-link " href="/ai/home">
          <i class="bi bi-grid"></i>
          <span>Dashboard</span>
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link " href="/ai/products">
          <i class="bi bi-grid"></i>
          <span>Products</span>
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link " href="/ai/cameras">
          <i class="bi bi-grid"></i>
          <span>Camera</span>
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link " href="/ai/production">
          <i class="bi bi-grid"></i>
          <span>Production</span>
        </a>
      </li>

    </ul>

  </aside><!-- End Sidebar-->
